.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 20px;
}

.container-title {
  font-size: 2rem;
}

.container button {
  margin: 15px 0;
}

.topic-section {
  width: 100%;
  /*margin: 20px 0;*/
  font-size: 1.3rem;
  margin-bottom: 0px;
}

.topic-subtitle {
  font-weight: 800;
}

span.italic {
  font-style: italic;
}

/*Boton para pasar de curos*/
/* From Uiverse.io by Gaurav-WebDev */
#boton-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.button {
  height: 90px;
  width: 300px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #2b74da;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 5px;
  font-size: 20px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #2b74da;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #2b74da;
  color: #fff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

/*Boton para pasar de cursos*/
.h2-contenido {
  color: #7a7a7a;
  text-align: justify;
}

#controls {
  width: 25%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#controls h2 {
  color: #2b74da;
  font-size: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 16px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

#calculateBtn {
  width: 100%;
  background-color: #2b74da;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#calculateBtn:hover {
  background-color: #1d57a8;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.nav-container h2 {
  margin-left: auto;
  padding-right: 50px;
}
#footer {
  margin-top: 20px;
  text-align: center;
  color: #888;
  font-size: 14px;
}
.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 20px;
  border: none;
  outline: none;
  color: blue;
  padding: 14px 30px;
  background-color: white;
  margin: 0px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  display: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: whitbe;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: rgb(240, 200, 0);
  color: white;
}

/* Agregado para la graficación*/
.functionChart{
  padding-inline: 30px;
  min-width: 600px;
  width: 80%;
  max-width: 80%;
}
.label{
  color: #fff;
}
/* boxes Inicio*/
.my-form{
  --_clr-primary: #494949;
  --_clr-hover: #f33195;
  --_clr-checked: #f33195;
}
.my-form > div {
  --_clr-current: var(--_clr-primary);

  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.my-form > div + div {
  margin-block-start: 0.5rem;
}
.my-form label {
  cursor: pointer;
  color: var(--_clr-current);
  transition: color 150ms ease-in-out;
}

/* styled checkbox */
.my-form input[type="checkbox"] {
  appearance: none;
  outline: none;
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1;
  padding: 0.25rem;
  background: transparent;
  border: 1px solid var(--_clr-current);
  border-radius: 2px;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.my-form input[type="checkbox"]::after {
  content: "\2714";
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  color: var(--_clr-checked);
  font-size: inherit;
  font-family: inherit;
}

.my-form label:hover,
.my-form input[type="checkbox"]:focus-visible,
.my-form input[type="checkbox"]:focus-visible + label,
.my-form input[type="checkbox"]:hover,
.my-form input[type="checkbox"]:hover + label {
  --_clr-current: var(--_clr-hover);
}
.my-form input[type="checkbox"]:focus-visible::after,
.my-form input[type="checkbox"]:hover::after {
  opacity: 0.5;
  color: var(--_clr-hover);
}

.my-form input[type="checkbox"]:checked + label:not(:hover),
.my-form input[type="checkbox"]:checked:not(:hover) {
  --_clr-current: var(--_clr-checked);
}
.my-form input[type="checkbox"]:checked::after {
  opacity: 1;
}
/* boxes fin*/